{#
/**
 * @file
 * Default theme implementation to present a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ title_suffix.contextual_links }}

  {% if buttons %}
    {{ buttons }}
  {% endif %}
  {% if media_collection_data %}
    {{ media_collection_data }}
  {% endif %}
  {{ drupal_block('damo_edit_menu_block') }}
  <div class="media-page-wrapper non-image">
    <div class="images-wrapper left-wrapper">
      <div class="media-thumbnail">
        {{ content.asset_preview }}
      </div>
    </div>
    <div class="right-wrapper">
      <div class="top-controls">
        <div class="controller">
          <div class="link active">
            <h4 class="media-title">
              {{ content.name[0] }}
            </h4>
            {{ content.buttons }} 
            {% if content.data %}
              <div class="collection-list">
                {% for collection in content.data.add_to_collection_list %}
                  <div class="collection-link-wrapper">
                    <a class="add-to-collection-link {% if collection.in_collection %} in-collection {% endif %}" title="{{ 'Add to'|t }} {{ collection.title }}" href="/collections/{{ collection.id }}/add/{{ collection.mid }}" data-item-style="other_hi_res_no_badge">{{ collection.title }}</a>                          
                    <a class="{% if not collection.in_collection %} visually-hidden {% endif %} remove-from-collection-link" title="{{ 'Remove'|t }}" href="/collections/remove/{{ collection.uuid }}" data-item-uuid={{ collection.itemuuid }}></a>                      
                  </div>
                {% endfor %}
                <span class="collection-divider"></span>
                <div class="collection-link-wrapper create-collection">
                  <a href="/collections/add?destination=/media/{{ content.data.mid }}&source={{ content.data.mid }}" class="use-ajax add-to-collection-link" data-dialog-type="modal">Create a new collection</a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ content.field_category }}
{{ content.field_keywords }}
